.form
{
    border: 1px solid black;
    width: 35%
}
.section{
 background-color: lightgrey;
 padding: 20px;
 
}
.content
{
    line-height: 1.5em;
    margin: 20px 20px 20px;
}
.content label
{
    display: inline-block;
    width: 35%;
    vertical-align: top;
    text-align: right;
}
.icon
{
    color: dodgerblue;
}
.hint
{
    line-height: 0.9;
    margin: 5px;
    font-size: 10px;
    text-align: center;
    margin-left: 80px;
}