.error
{
	color: red;
	display: block;
}

.success
{
	text-align: center;
	color: green;
	display: block;
	-webkit-animation: cssAnimation 3s forwards; 
    animation: cssAnimation 3s forwards;
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

.successmsg
{
    text-align: center;
    color: green;
    display: block;
}